
/* StickyFooter */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 400px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
	bottom: 0;
	left:0;
  width: 100%;
  height: 400px; /* Set the fixed height of the footer here */
  /*line-height: 96px;*/ /* Vertically center the text there */
	background-color: #0066ff;
	padding-top:40px;
}

/* JumboTron */
:root {
	--jumbotron-padding-y: 3rem;
}

.jumbotron {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	background-color: #fff;
}

@media (min-width: 768px) {
	.jumbotron {
	padding-top: calc(var(--jumbotron-padding-y) * 2);
	padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	}
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron-heading {
	font-weight: 300;
}

.jumbotron {
	max-width: 40rem;
}

/* Other Styles */


footer p {
	color:#ffffff;
	margin-bottom: .25rem;
	/*background-color: #0066ff;*/
}

footer a{
	color:#ffffff;
}

card {
	margin:10 px;
}

.blue{
	background-color: #0066ff;
	color:#ffffff;
}